.wrapper{
	width:100%;
}


.dListBtn{
	background: url(drop_btn.png);
	width:100%;
	height: 100%;
	float: right;
}
.dListBtn,.dListText:hover{
	cursor: pointer;

}


/*drop list*/
.dListdrop{
	background: #eeeeee;
	border-radius: 5px;
	position: absolute;
	z-index: 10;
	display: none;
	
}
/*drop list item*/
.dlitem{
	padding: 3px 5px;
}
.dlithov:hover{
	background: #b9c6e8;
	cursor: pointer;
	color: #fff;
}
.fleft{ float:left;}

.dlsearch:focus {
outline: none; 
}